<%- include ("partials/homeheader.ejs") %>

<link rel="stylesheet" href="homepage.css">

<img src="./images/logo1.png" alt="Pandora.">
<div class="container">
    <h1 class="text-center">Welcome to <strong class="text-warning">Pandora.</strong></h1>
    <br>
    <p class="text-center">Witness the world of ease.</p>
    <br>
    <div class="text-center">
        <a class="btn" href="/services">Explore!</a>
    </div>
</div>

<%- include ("partials/footer.ejs") %> 
