<%- include ("partials/homeheader.ejs") %>

<link rel="stylesheet" href="homepage.css">

<img src="https://cdn2.iconfinder.com/data/icons/flatte-internet-and-websites/80/12_-_Film_slate-512.png" alt="Movies">
<div class="container">
    <h1 class="text-center">Welcome to the world of Movies</h1>
    <div class="text-center">
        <a class="btn" href="/services">lets dive in</a>
    </div>
</div>

<%- include ("partials/footer.ejs") %> 
