<%- include ("partials/header.ejs") %>
<link rel="stylesheet" href="services.css"> 

<h2 class="text-center">WATCH YOUR FAVOURITE MOVIES</h2>
<br>
<br>
<br>
<div class="container">
<div class="row text-center">
    <div class="col-md-2 col-sm-6">
        <div class="thumbnail">
            <a href="/movies"><img src="https://i.pinimg.com/originals/80/15/d1/8015d11d1766a038828bfd53d4026a26.png"></a>
            <div class="caption">
                <h4><strong>Movies</strong></h4>
                <p>Search for the desired  movies with their rating.</p>
            </div>
        </div>
    </div>
</div>
</div>

<%- include ("partials/footer.ejs") %> 
