<%- include ("partials/header.ejs") %>
<link rel="stylesheet" href="services.css"> 

<h2 class="text-center">Try these services provided by us, as per your wish!</h2>
<br>
<br>
<br>
<div class="container">
<div class="row text-center">
    <div class="col-md-2 col-sm-6">
        <div class="thumbnail">
            <a href="/weathersearch"><img src="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png"></a>
            <div class="caption">
                <h4><strong>Weather</strong></h4>
                <p>Check live weather of your desired location.</p>
            </div>        
        </div>       
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="thumbnail">
            <a href="/newssearch"><img src="https://cdn3.iconfinder.com/data/icons/ballicons-reloaded-free/512/icon-70-512.png"></a>
            <div class="caption">
                <h4><strong>News</strong></h4>
                <p>Get updated with the latest news.</p>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6">
        <div class="thumbnail">
            <a href="/movies"><img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/movie-512.png"></a>
            <div class="caption">
                <h4><strong>Movies</strong></h4>
                <p>Search for the desired released movies, along with their rating.</p>
            </div>
        </div>
    </div>
</div>
</div>

<%- include ("partials/footer.ejs") %> 
