.container {
    margin-top: 4%;
}

.btn{
    width: 200px;
    height: 43px;
    background: none;
    border: 4px solid;
    color: #09033f;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;
  }
  .btn:hover {
    color: #0e020f !important;
  }
  
  
  

body {
    background: url(https://cdn5.vectorstock.com/i/1000x1000/99/24/yellow-background-with-vintage-movie-camera-vector-20659924.jpg);
    background-size: 70% auto;
    background-repeat: repeat-y;
}


h1 {
    color:black;
}

img {
    margin-left: 40%;
    margin-top: 8%;
    width: 300px;
}