.navbar {
    background: rgba(192, 191, 191, 0.103);
    border: none;
    outline: none;
    width: 100%;
    overflow: visible;
    height: 67px;
    line-height: 70px;
}

a {
    color: rgba(218, 216, 216, 0.979) !important;
    margin-top: 11px;
}

.logo-img {
    width: 130px;
    
}