body {
    background: rgb(83, 95, 95);
}

#main {
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.952);
}

#cont {
    text-align: center;
    width: 70%;
    margin: 0px;
    padding: 0px;
    float: right;
}

img {
    width: 30%;
    height: 30%;
}

h4 {
    color: rgb(127, 211, 236);
}

h2{
    color: rgb(233, 145, 73);
}

#str {
    color: rgb(177, 177, 177);
    text-decoration: underline;
}

h1 {
    color: rgb(226, 213, 93);
    padding-bottom: 50px;
    margin-left: 12%;
}
