body {
    background: rgb(83, 95, 95);
}

p {
    color: white;
    margin-left: 12%;
    font-size: 23px;
}

h3 {
    color: rgb(233, 74, 74);
    margin: 0 0;
    margin-left: 16%;
    margin-top: 8%;
    font-size: 42px;
    font-weight: 700px;
}

#temp {
    color: rgb(77, 143, 230);
}

#ll {
    color: rgb(230, 152, 63);
}

h1 {
    color: rgb(78, 223, 78);
    margin: 0 0;
    float: right;
    margin-top: 14%;
    margin-right: 10%;
    font-size: 42px;
}

.vertical-line {
    display: inline-block;
        border-left: 2px solid rgb(218, 72, 169);
        margin: 0 0px;
        height: 320px;
        float: right;
        margin-top: 8%;
        margin-right: 7%;
}
